@mixin flex-container($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$primary-color: #C5C5C5;

.Conteiner-Telefone{
    @keyframes movePhone1 {
        from {
          top: 10rem;
          left: 40%;
        }
      
        to {
          top: 8rem;
          left: 55%;
        }
      }
      
      .phoneLeft {
        position: absolute;
        animation: movePhone1 1.5s forwards;
      }
      
      @keyframes movePhone2 {
        from {
          top: 18rem;
          left: 75%;
        }
      
        to {
          top: 14rem;
          left: 65%;
        }
      }
      
      .phoneRight {
        position: absolute;
        animation: movePhone2 1.8s forwards;
      }
    }

    .cases-conteiner{
      height: 6rem;
      @include flex-container(row, center, center);
      background-color:$primary-color;
    }