$primary-color: #CAFF1F;
$primary-color-hover: #a7e31a;
$bg-color-white: #F2F2F2;

@mixin flex-container($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// components
.DarkButton {
    background-color: #000;
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: $primary-color;
}

.PrimaryButton {
    background-color: $primary-color ;
    padding: 0.5rem 3rem;
    border-radius: 8px;

    &:hover {
        background-color: $primary-color-hover ;
    }
}

// NAV STYLE 
.bg-body {
    padding: 0rem 10rem;
    background-color: #000;
}

.nav-link {
    color: #fff;

    &:hover {
        color: #fff;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        text-decoration-thickness: 4px;
    }
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
    margin-left: 1rem;

    &:hover {
        color: #000;
        background-color: $primary-color;
    }

}

.conteiner-header {
    @include flex-container(row, center, center);
    position: relative;
    background-image: url("../assets/Background-Header.svg");
    height: 79vh;
    background-repeat: no-repeat;

    .text-header {
        margin-top: 15vh;
        width: 620px;
    }

    .title-main {
        color: white;
        font-size: 70px;
        font-weight: 700;
        font-family: "Epilogue", sans-serif;
    }

    .subtitle-main {
        color: #A5A5A5;
        font-size: 1vw;
        font-family: "Epilogue", sans-serif;
    }


    .PrimaryColorButton {
        background-color: #CAFF1F;
        height: 2rem;
        width: 3rem;
    }
}

.conteiner-who {
    background-color: $bg-color-white;

    .Conteiner-OqueText {
        width: 32%;

        .h2-title {
            font-size: 50px;
            font-weight: 700;
        }
    }
}

.conteiner-beneficios {
    background-color: $bg-color-white;
    @include flex-container(row, center, center);

    .imgBeneficio {
        position: relative;
        margin-left: 10rem;
        margin-top: -7rem;
    }

    .main-bgBeneficio {
        position: absolute;
        background-color: #000;
        margin-top: 45rem;
        height: 40vh;
        width: 1200px;
        border-radius: 30px;
    }

    .List-conteiner {
        list-style: none;
        width: 600px;
        color: white;

        .p-list {
            font-size: 20px;
            font-weight: 600;
        }
    }
}