$primary-color: #CAFF1F;
$primary-color-hover: #a7e31a;
$bg-color-white: #F2F2F2;
$bg-black-main: #050505;
$bg-black: #0F0F0F;
$gray1: #161616;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@mixin flex-container($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// components
.DarkButton {
    background-color: #000;
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: $primary-color;
}

.PrimaryButton {
    background-color: $primary-color ;
    padding: 0.5rem 3rem;
    border-radius: 8px;

    &:hover {
        background-color: $primary-color-hover ;
    }
}

.imagemScreen {
    height: 25rem;

    &:hover {
        transition: transform 0.3s ease;
        transform: translateY(-10px);
    }
}

#entrar{
    margin-right: 1.5em;
}
.flag-select {
    position: relative;
    display: inline-block;

    .flag-button {
        background: none;
        border: none;
        cursor: pointer;
        height: 45px;
    }

    .imgflags {
        height: 45px;
    }

    .flag-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        li {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background: #eee;
            }
        }
    }

    &:hover .flag-options {
        display: block;
    }
}


#videoPlayer {
    height: 20rem;
    border: 2px solid #a7e31a;
    border-radius: 15px;
}

// NAV STYLE 
.bg-body {
    padding: 0rem 10rem;
    background-color: #000;
}

.nav-link {
    color: #fff;

    &:hover {
        color: #fff;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        text-decoration-thickness: 4px;
    }
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
    margin-left: 1rem;

    &:hover {
        color: #000;
        background-color: $primary-color;
    }

}

.conteiner-header {
    @include flex-container(row, center, center);
    position: relative;
    background-image: url("../assets/Background-Header.svg");
    height: 79vh;
    background-repeat: no-repeat;

    .text-header {
        margin-top: 5vh;
        width: 620px;
    }

    .title-main {
        color: white;
        font-size: 4rem;
        font-weight: 700;
        font-family: "Epilogue", sans-serif;
    }

    .subtitle-main {
        color: #A5A5A5;
        font-size: 1vw;
        font-family: "Epilogue", sans-serif;
    }


    .PrimaryColorButton {
        background-color: #CAFF1F;
        height: 2rem;
        width: 3rem;
    }
}

.conteiner-sessionsobre {
    margin-bottom: 5rem;
}

.conteiner-sobre {
    margin: 10rem 0rem;

    .main-sobre {
        background-color: $bg-color-white;
    }


    .h2-title {
        font-size: 40px;
        font-weight: 700;
    }

    .p-subtitle {
        font-size: 22px;
        font-weight: 400;
        width: 35rem;
    }
}

.conteiner-who {
    background-color: $bg-color-white;
    height: 79vh;

    .Conteiner-OqueText {
        width: 32%;
    }
}

.conteiner-beneficios {
    background-color: $bg-color-white;
    @include flex-container(row, center, center);
    height: 79vh;

    .imgBeneficio {
        position: relative;
        margin-left: 10rem;
        margin-top: -7rem;
    }

    .main-bgBeneficio {
        // position: absolute;
        background-color: #000;
        // margin-top: 45rem;
        height: 40vh;
        width: 1200px;
        border-radius: 30px;
        margin: 10rem 0rem;
    }

    .List-conteiner {
        list-style: none;
        width: 600px;
        color: white;

        .p-list {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.Quem-conteiner {
    background-color: $bg-color-white;
    height: 79vh;
    @include flex-container(column, center, center);

    .ul-quem:hover {
        transition: transform 0.3s ease;
        transform: translateY(-10px);
    }

}

.Conteiner-forms {
    background-color: $bg-black;
    height: 79vh;
    @include flex-container(column, center, center);

    .label-primary {
        color: $bg-color-white;
    }

    .input-primary {
        background-color: $gray1;
        border: 1px solid $bg-color-white;
        width: 30rem;
        padding: 0.5rem;
        color: #ffffff;
    }

    .header-cta,
    .p-cta {
        color: $bg-color-white;
        width: 40rem;
        text-align: center;
    }
}

.bigCase-conteiner {
    background-color: $bg-black;
    height: 39vh;
    @include flex-container(column, center, center);

    .h2-bigCase {
        font-size: 70px;
        width: 20rem;
        color: $bg-color-white;
    }
}

.accord {
    background-color: $bg-black-main;
    padding: 10rem 0;
}

.FAQ-conteiner {
    width: 50rem;
    background-color: $bg-black-main;
}


.accordion-item,
.accordion-header {
    color: $bg-color-white;
    background-color: $bg-black-main;
}

.accordion-button {
    color: $bg-color-white;
    background-color: $bg-black;

    &[aria-expanded="true"] {
        color: $bg-color-white;
        background-color: $bg-black-main;
    }

    &::after {
        background-color: $primary-color;
    }
}


.conteiner-footer {
    @include flex-container(row, center, center);
    background-color: $bg-black-main;
    color: $bg-color-white;
    justify-content: space-around;

    .iconFooter {
        width: 20px;
    }
}

#carouselExampleIndicators {
    margin: 3.5rem 10rem 0rem;
}

// mobile layout breackpoint
@media (max-width: 575px) {

    /* Nav */
    .bg-body {
        padding: 0rem;
    }

    .nav-link {
        display: none;
    }

    .btn-outline-success {
        display: none;
    }

    // Header
    .conteiner-header {
        height: 80vh;

        .text-header {
            margin-top: 12vh;
            width: 250px;
        }

        .title-main {
            font-size: 30px;
            font-weight: 700;
            font-family: "Epilogue", sans-serif;
        }

        .subtitle-main {
            font-size: 4.1vw;
        }
    }

    // Session oque
    .conteiner-who {
        .flexRow {
            display: none;
        }

        .ilustracaoVideo {
            height: 22rem;
        }
    }
}