$primary-color: #CAFF1F;
$primary-color-hover: #a7e31a;

@mixin flex-container($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// NAV STYLE 
.nav-link {
    color: #fff;

    &:hover {
        color: #fff;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        text-decoration-thickness: 4px;
    }
}

.btn-outline-success{
    color: #fff;
    border-color: #fff;
    margin-left: 1rem;

    &:hover{
        color: #000;
        background-color: $primary-color;
    }

}

.conteiner-header {
    @include flex-container(row, center, center);
    position: relative;
    background-image: url("../assets/Background-Header.svg");
    height: 79vh;
    background-repeat: no-repeat;

    .text-header {
       margin-top: 15vh;
        width: 620px;
    }

    .title-main {
        color: white;
        font-size: 70px;
        font-weight: 700;
        font-family: "Epilogue", sans-serif;
    }

    .subtitle-main {
        color: #A5A5A5;
        font-size: 1vw;
        font-family: "Epilogue", sans-serif;
    }

    .PrimaryButton {
        background-color: $primary-color ;
        padding: 0.5rem 3rem;
        border-radius: 8px;

        &:hover {
            background-color: $primary-color-hover ;
        }
    }
}