* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h4 {
  width: 50rem;
  text-align: center;
  margin-bottom: 2em;
  font-size: medium;
}

label {
  color: white;
}

.DarkButton {
  background-color: #000;
  padding: 0.5rem 3rem;
  border-radius: 8px;
  color: #CAFF1F;
}

.PrimaryButton {
  background-color: #CAFF1F;
  padding: 0.5rem 3rem;
  border-radius: 8px;
}
.PrimaryButton:hover {
  background-color: #a7e31a;
}

.imagemScreen {
  height: 25rem;
}
.imagemScreen:hover {
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

#entrar {
  margin-right: 1.5em;
}

.flag-select {
  position: relative;
  display: inline-block;
}
.flag-select .flag-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 45px;
}
.flag-select .imgflags {
  height: 45px;
}
.flag-select .flag-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.flag-select .flag-options li {
  padding: 5px;
  cursor: pointer;
}
.flag-select .flag-options li:hover {
  background: #eee;
}
.flag-select:hover .flag-options {
  display: block;
}

#videoPlayer {
  height: 20rem;
  border: 2px solid #a7e31a;
  border-radius: 15px;
}

.bg-custom {
  background-color: #161616 !important;
  padding: 0rem 10rem;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #CAFF1F;
  text-decoration-thickness: 4px;
}

.btn-outline-success {
  color: #fff;
  border-color: #fff;
  margin-left: 1rem;
}
.btn-outline-success:hover {
  color: #000;
  background-color: #CAFF1F;
}

.conteiner-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../assets/Background-Header.svg");
  height: 79vh;
  background-repeat: no-repeat;
}
.conteiner-header .text-header {
  margin-top: 5vh;
  width: 620px;
}
.conteiner-header .title-main {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Epilogue", sans-serif;
}
.conteiner-header .subtitle-main {
  color: #A5A5A5;
  font-size: 1vw;
  font-family: "Epilogue", sans-serif;
}
.conteiner-header .PrimaryColorButton {
  background-color: #CAFF1F;
  height: 2rem;
  width: 3rem;
}

.ComoFunciona-conteiner {
  background-color: #F2F2F2;
}

.conteiner-sessionsobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  padding-bottom: 5em;
}

.section-sobre,
.main-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #050505;
}

.conteiner-sobre {
  margin: 10rem 0rem;
  background-color: #050505;
  color: white;
}
.conteiner-sobre .h2-title {
  font-size: 40px;
  font-weight: 700;
}
.conteiner-sobre .p-subtitle {
  font-size: 22px;
  font-weight: 400;
  width: 35rem;
}

.conteiner-who {
  background-color: #F2F2F2;
  height: 79vh;
}
.conteiner-who .Conteiner-OqueText {
  width: 32%;
}

.conteiner-beneficios {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 79vh;
}
.conteiner-beneficios .imgBeneficio {
  position: relative;
  margin-left: 10rem;
  margin-top: -7rem;
}
.conteiner-beneficios .main-bgBeneficio {
  background-color: #000;
  height: 40vh;
  width: 1200px;
  border-radius: 30px;
  margin: 10rem 0rem;
}
.conteiner-beneficios .List-conteiner {
  list-style: none;
  width: 600px;
  color: white;
}
.conteiner-beneficios .List-conteiner .p-list {
  font-size: 20px;
  font-weight: 600;
}

.p-icon {
  font-weight: 600;
}

.TituloQuem {
  text-align: start;
  font-weight: 700;
  width: 17em;
}

.TituloComo {
  text-align: center;
  font-weight: 700;
  width: 17em;
}

.Quem-conteiner {
  background-color: #F2F2F2;
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Quem-conteiner .ul-quem:hover {
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

.conteiner-tutorial {
  padding: 4em 0rem;
}

.Conteiner-forms {
  background-color: #0F0F0F;
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Conteiner-forms .section-radial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.Conteiner-forms .label-primary {
  color: #F2F2F2;
}
.Conteiner-forms .input-primary {
  background-color: #161616;
  border: 1px solid #F2F2F2;
  width: 30rem;
  padding: 0.5rem;
  color: #ffffff;
}
.Conteiner-forms .header-cta,
.Conteiner-forms .p-cta {
  color: #F2F2F2;
  width: 40rem;
  text-align: center;
}

.bigCase-conteiner {
  background-color: #0F0F0F;
  height: 39vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bigCase-conteiner .h2-bigCase {
  font-size: 70px;
  width: 20rem;
  color: #F2F2F2;
}

.accord {
  background-color: #050505;
  padding: 10rem 0;
}

.FAQ-conteiner {
  width: 50rem;
  background-color: #050505;
}

.accordion-item,
.accordion-header {
  color: #F2F2F2;
  background-color: #050505;
}

.accordion-button {
  color: #F2F2F2;
  background-color: #0F0F0F;
}
.accordion-button[aria-expanded=true] {
  color: #F2F2F2;
  background-color: #050505;
}
.accordion-button::after {
  background-color: #CAFF1F;
}

.depoimentos-conteiner {
  color: white;
  background-color: #0F0F0F;
  padding: 2rem 0rem;
}

.cardDepoimento-conteiner {
  margin: 1.5rem 0rem 4rem;
  background-color: #F2F2F2;
  border: 2px solid #CAFF1F;
  padding: 0.5rem 0.5rem;
  color: #000;
  border-radius: 10px;
}
.cardDepoimento-conteiner .video {
  width: 100%;
  border-radius: 8px;
}
.cardDepoimento-conteiner .h1-depoimento {
  font-weight: 500;
  font-size: x-large;
}
.cardDepoimento-conteiner .h2-depoimento {
  font-weight: 800;
  font-size: x-large;
}

.conteiner-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  color: #F2F2F2;
  justify-content: space-around;
}
.conteiner-footer .iconFooter {
  width: 20px;
}

#carouselExampleIndicators {
  margin: 3.5rem 10rem 0rem;
}

@media (max-width: 575px) {
  /* Nav */
  .bg-custom {
    padding: 0rem;
  }
  .nav-link {
    display: none;
  }
  .btn-outline-success {
    display: none;
  }
  .conteiner-header {
    height: 80vh;
  }
  .conteiner-header .text-header {
    margin-top: 12vh;
    width: 250px;
  }
  .conteiner-header .title-main {
    font-size: 30px;
    font-weight: 700;
    font-family: "Epilogue", sans-serif;
  }
  .conteiner-header .subtitle-main {
    font-size: 4.1vw;
  }
  .conteiner-who .flexRow {
    display: none;
  }
  .conteiner-who .ilustracaoVideo {
    height: 22rem;
  }
}/*# sourceMappingURL=global.css.map */